.bg{
    /* background-image: url('./images/main-qimg-63925d1b3dc1aa56935cd3dceebe0e94.jpg'); */
    /* height: 200px;
    width: 200px; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* margin-top: 4rem;
    min-height: 50vh;
    background-attachment: fixed; */
}